
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label, p {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
    display: inline;
    margin: 0;
    font-weight: normal;
}

.input-field, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

details {
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    font-weight: normal;
}

